$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: hsl(136, 65%, 51%);
$Bright-Cyan: hsl(192, 70%, 51%);

$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

*{
    font-family: 'Public Sans', sans-serif;
}

.menu{
    list-style: none;
}

.d-flex{
    display: flex;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

nav{
    ul{
        display: none;
        li{
            display: none;
        }
    }

    button{
        display: none;
    }   
}

.justify-b{

    justify-content: space-between;
    background-color: yellow;
}


 @media only screen and ( min-width: 992px ){
     .hamburguesa{
     display: none;
     }
     nav{
         background-color:white;
         padding: 1rem;
         margin: 0 5%;
     }
     li{
        
         margin:0 .5rem;
         padding:0 .5rem ;
     }
     ul{
        
     }
 }

