<<<<<<< HEAD
body{
    background-image: url(/elements/blurred-background-store-of-shopping-mall-blur-background-with-bokeh-vintage-filtered-image.jpg);
    background-repeat:repeat;
    background-size:contain;
=======
body{
    background-image: url(/elements/blurred-background-store-of-shopping-mall-blur-background-with-bokeh-vintage-filtered-image.jpg);
    background-repeat:repeat;
    background-size:contain;
>>>>>>> c28e75f9921e3abf626d39044178d69b4850fcf2
}